In [1]:
# import python libraries

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_excel("D:\Project\Python Project\store sales data.xlsx")

In [3]:
df.shape

(31047, 21)

In [4]:
df.head()

,index,Order ID,Cust ID,Gender,Age,Age group,Date,Month,Status,Channel,...,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44.0,Adult,2022-12-04,Dec,Delivered,Myntra,...,kurta,XXL,1,INR,376.0,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29.0,Teenager,2022-12-04,Dec,Delivered,Ajio,...,Set,L,1,INR,1449.0,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67.0,Senior,2022-12-04,Dec,Delivered,Myntra,...,Set,S,1,INR,453.0,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20.0,Teenager,2022-12-04,Dec,Delivered,Amazon,...,Set,M,1,INR,729.0,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62.0,Senior,2022-12-04,Dec,Delivered,Myntra,...,kurta,XXL,1,INR,544.0,GURUGRAM,HARYANA,122001,IN,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31047 entries, 0 to 31046
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             31047 non-null  int64
 1   Order ID          31047 non-null  object
 2   Cust ID           31047 non-null  int64
 3   Gender            31047 non-null  object
 4   Age               31045 non-null  float64
 5   Age group         31047 non-null  object
 6   Date              31047 non-null  datetime64[ns]
 7   Month             31047 non-null  object
 8   Status            31047 non-null  object
 9   Channel           31047 non-null  object
 10  SKU               31047 non-null  object
 11  Category          31047 non-null  object
 12  Size              31047 non-null  object
 13  Qty               31047 non-null  object
 14  currency          31047 non-null  object
 15  Amount            31042 non-null  float64
 16  ship-city         31047 non-null  object
 17  ship-state        31047 non-null  object
 18  ship-postal-code  31047 non-null  int64
 19  ship-country      31047 non-null  object
 20  B2B               31047 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(3), object(14)
memory usage: 4.8+ MB

In [6]:
pd.isnull(df).sum()

index               0
Order ID            0
Cust ID             0
Gender              0
Age                 2
Age group           0
Date                0
Month               0
Status              0
Channel             0
SKU                 0
Category            0
Size                0
Qty                 0
currency            0
Amount              5
ship-city           0
ship-state          0
ship-postal-code    0
ship-country        0
B2B                 0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(31040, 21)

In [9]:
df.columns

Index(['index', 'Order ID', 'Cust ID', 'Gender', 'Age', 'Age group', 'Date',
       'Month', 'Status', 'Channel ', 'SKU', 'Category', 'Size', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B'],
      dtype='object')

In [10]:
df.describe()

,index,Cust ID,Age,Date,Amount,ship-postal-code
count,31040.000000,3.104000e+04,31040.000000,31040,31040.000000,31040.000000
mean,15527.274742,4.936682e+06,39.497616,2022-06-15 05:54:17.628865792,682.066624,460492.505863
min,1.000000,8.950000e+02,18.000000,2022-01-04 00:00:00,229.000000,110001.000000
25%,7767.750000,2.416196e+06,28.000000,2022-03-06 00:00:00,486.000000,313001.000000
50%,15527.500000,4.909992e+06,37.000000,2022-06-06 00:00:00,646.000000,500028.000000
75%,23287.250000,7.454134e+06,47.000000,2022-09-06 00:00:00,794.000000,600040.000000
max,31047.000000,9.999233e+06,78.000000,2022-12-06 00:00:00,3036.000000,855117.000000
std,8960.992831,2.900689e+06,15.118165,NaN,268.586008,198128.043636

# Exploratory Data Analysis

Q1.what are diffrent order status in 2022?

In [11]:
status_counts = df.groupby('Status')['Order ID'].count().nlargest().reset_index(name='count')
print(status_counts)

      Status  count
0  Delivered  28634
1   Returned   1045
2  Cancelled    844
3   Refunded    517

Q2.who purchased more- men or women in 2022?

In [12]:
sum_of_amount_by_gender = df.groupby('Gender')['Amount'].sum().reset_index(name='total')
print(sum_of_amount_by_gender)

  Gender       total
0    Men   7611859.0
1  Women  13559489.0

Q3.which channel is contributing to maximum sales?

In [13]:
status_counts = df.groupby('Channel ')['Order ID'].count().nlargest().reset_index(name='count')
print(status_counts)

   Channel   count
0    Amazon  11016
1    Myntra   7251
2  Flipkart   6701
3      Ajio   1931
4     Nalli   1483

Q4.list top 10 states contributing to the sales?

In [14]:
top_states = df.groupby('ship-state')['Amount'].sum().nlargest(10).reset_index(name='total')
print(top_states)

       ship-state      total
0     MAHARASHTRA  2988303.0
1       KARNATAKA  2645447.0
2   UTTAR PRADESH  2104368.0
3       TELANGANA  1711865.0
4      TAMIL NADU  1678877.0
5           DELHI  1248111.0
6          KERALA  1008940.0
7     WEST BENGAL   922444.0
8  ANDHRA PRADESH   918499.0
9         HARYANA   813320.0

Q5.relation between age and gender on number of orders

In [15]:
order_count = df.groupby(['Age group', 'Gender'])['Order ID'].count().reset_index()

# separate male and female counts into separate columns
order_count_pivot = order_count.pivot(index='Age group', columns='Gender', values='Order ID').reset_index()

# Remove the column name 'Gender' from the header
order_count_pivot.columns.name = None  
print(order_count_pivot)

  Age group   Men  Women
0     Adult  4801  10738
1    Senior  1836   4253
2  Teenager  2854   6558

Q6.Qhigest selling category?

In [16]:
category_sales = df.groupby('Category')['Amount'].sum().idxmax()
print('category sales -',category_sales)

# other method
print()

category_sales = df.groupby('Category')['Amount'].sum().nlargest(1).reset_index(name='total')
print(category_sales)

category sales - Set

  Category       total
0      Set  10504201.0

Q7.which month got the highest sales and orders?

In [17]:
# Convert 'Qty' column to numeric type
df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce')

# Group by month and sum the sales and quantity
monthly_sales = df.groupby('Month')['Amount'].sum()
monthly_orders = df.groupby('Month')['Qty'].sum()

# Find the month with the highest sales and orders
highest_sales_month = monthly_sales.idxmax()
highest_orders_month = monthly_orders.idxmax()

print("Month with the highest sales:", highest_sales_month)
print("Month with the highest orders:", highest_orders_month)

Month with the highest sales: Mar
Month with the highest orders: Mar

In [18]:
# other method sales and order with months

# Convert 'Qty' column to numeric
df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce')

# Group by month and sum the sales and orders
monthly_sales_orders = df.groupby('Month').agg({'Amount': 'sum', 'Qty': 'sum'})

# Find the month with the highest sales
highest_sales_month = monthly_sales_orders['Amount'].idxmax()
highest_sales_amount = monthly_sales_orders['Amount'].max()

# Find the month with the highest orders
highest_orders_month = monthly_sales_orders['Qty'].idxmax()
highest_orders_qty = monthly_sales_orders['Qty'].max()

print("Month with the highest sales:", highest_sales_month, "with amount:", highest_sales_amount)
print("Month with the highest orders:", highest_orders_month, "with quantity:", highest_orders_qty)

Month with the highest sales: Mar with amount: 1928066.0
Month with the highest orders: Mar with quantity: 2837.0

Q8.compare the sales and orders using single chart

In [19]:
monthly_summary = df.groupby(df['Date'].dt.strftime('%B')).agg(
    Order_ID_Count=('Order ID', 'count'),
    Amount_Sum=('Amount', 'sum')
).reset_index()

#order by months
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Reindex the dataframe by month order
monthly_summary = monthly_summary.set_index('Date').reindex(month_order)

print(monthly_summary)

           Order_ID_Count  Amount_Sum
Date
January              2702   1820601.0
February             2750   1875932.0
March                2819   1928066.0
April                2685   1829263.0
May                  2617   1797822.0
June                 2597   1750966.0
July                 2579   1772300.0
August               2617   1808505.0
September            2490   1688871.0
October              2423   1665870.0
November             2379   1612321.0
December             2382   1620831.0

# Conclusion:

Insights:-

  1.Women are more likely to buy compared to men
  
  2.Maharashtra, Karnataka and Uttar Pardesh are the top 3 states
  
  3.Adult age group is max contributing
  
  4.Amazon, Flipkart and Myntra are max contribute

 # Iprove store sales

Target Women customers of adult age group living in Maharashtra, Karnataka and Uttar Pardesh by showing ads/offers/coupons avilable on Amazon, Flipkart and Myntra.